/*------------------------------/ Default /--------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}
a{
    color: #111;
    transition: .3s;
}
img{
    width:100%;
}
a:hover{
    color: #111;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: #0e8c6969;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
}
/*------------------------------/ Nav /--------*/
.logo{
    width: 100px;
}
.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #111;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}


